main{
    background-color:rgb(230, 216, 185);
    height:850px;
    width:100%;
    display:flex;
    flex:row nowrap;
}

main section{
    width:80%;
    background-color:rgb(160, 159, 157);
}

main aside{
    width:20%;
    background-color:rgb(170, 101, 234);
}
body{
    background-color: rgb(205, 178, 138);
}
@media (max-width:800px){
    aside{
        display:none;
    }
    main section{
        width:100%;
    }

  }

  .Tarjeta{
    background-color: black;
  }
