footer{
    width:100%;
    height:150px;
    background-color: rgb(229, 185, 127);
    display:flex;
    flex:row nowrap;
    align-items: center;
    justify-content: end;
}

footer a{
    font-size:50px;
    color:rgb(50, 183, 183);
}
footer a:hover{
    color:rgb(11, 10, 9);
}