.navegacion{
    background-color: rgb(226, 182, 61);
    color: black;
    position: relative;
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
    height:150px;
    width:100%;
    display:flex;
    flex:row nowrap;
    align-items: center;
    justify-content: center;;
}

.navegacion a{
    color: rgb(27, 167, 192);
    font-size: 30px;
    margin: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 
    