/* CardGroup.css */

/* Estilos generales para grupos de cartas */
.card-group {
    display: flex;
    flex-direction: column; /* Alineación vertical, una carta debajo de la otra */
    gap: 1rem; /* Espacio pequeño entre las cartas */
    align-items: center; /* Centra las cartas horizontalmente */
    text-align: center;
    padding: 30px;
}

.card-container {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    gap: 15px; /* Espacio entre las tarjetas */
    align-items: center;
    width:100%; 
  }

.card-pokemon {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;;
    width: 200px;
    height: 250px; /* Aumenta el tamaño de las cartas */
    padding: 2px;
    text-align: center;

}



.card-group .card {
    max-width: 150px; /* Tamaño pequeño de las cartas */
    width: 100%;  
    margin: 0 auto; /* Asegura que las cartas estén centradas */
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-group .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-group .card-img-top {
    object-fit: cover;
    height: 100px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

  