/* Estilo para el Header */
header {
  /* Aquí puedes darle estilo al header si es necesario */
  background-color: #333;
  color: white;
  padding: 20px;
}

/* Estilo para el Navbar */
nav {
  width: 100%;
  height: 60px;  /* Ajusta la altura del navbar */
  background-color: orange;
  position: relative;  /* Asegura que esté en el flujo normal */
  top: 0;
  z-index: 1000;  /* Esto puede ser útil si hay otros elementos con un z-index mayor */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;  /* Añade un margen para separarlo del header */
}
